body {
  margin: 0;
}

.toolbar {
  border: 1px solid red;
  width: 1050px;
  height: 64px;

  display: flex;
    align-items: center;
    justify-content: space-around;
}

.canvas {
  border: 2px solid red;
  /*height: 500px;
  width: 500px; */
}

button {
  height: 100%;
  flex: 20px;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #8ed7e2;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
